  <appSettings>
    <!-- WebServerType valid values are "asp" or "tomcat" -->
    <add key="WebServerType" value="<Enter asp or tomcat>" />
    
    <!-- WebServer is your web server -->
    <add key="WebServer" value="<Enter Mstr Web Server>" />
    
    <!-- IServer is your Intelligence Server -->
    <add key="IServer" value="<Enter I-Server>" />
    
    <!-- Project is the MicroStrategy project -->
    <add key="Project" value="<Enter MicroStrategy Project Name>" />

    <!-- MicroStrategy login info -->
    <add key="UserId" value="<Enter User Id>" />
    <add key="Password" value="<Enter Password>" />
    
    <!-- OPTIONAL: Base API URL -->
    <!-- If you are familiar with the URL API you can specify the base URL here. -->
    <!-- For example, "http://localhost/MicroStrategy/asp/TaskAdmin.aspx?" -->
    <!-- If no value is specified the app will use WebServerType & WebServer parameters to build the base URL. -->
    <add key="BaseURL" value="" />
  </appSettings>
